/*
    Lighto Bootstrap Sass Theme
    Author: Slari Studio
    Version: 0.0.1
*/
/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Colors */
/* Slides Area */
/* Mixins*/
/* Normalize */
/* line 7, ../scss/base/_normalize.scss */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 12, ../scss/base/_normalize.scss */
.section-title {
  margin-top: 20px;
  margin-bottom: 5px;
  padding-bottom: 0 !important;
}

/* line 18, ../scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 22, ../scss/base/_normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 3, ../scss/base/_base.scss */
html {
  font-size: 100%;
}

/* line 7, ../scss/base/_base.scss */
body {
  font-weight: 300;
  color: #313131;
  line-height: 28px;
  text-align: center;
  overflow-x: hidden !important;
  margin: auto !important;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.7em;
}

/* line 19, ../scss/base/_base.scss */
a {
  color: #fa6900;
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

/* line 24, ../scss/base/_base.scss */
i {
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

/* line 28, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* MODULES - Individual site components */
/* HEADINGS */
/* line 5, ../scss/modules/_typography.scss */
h1,
h2 {
  font-family: 'Lane', sans-serif;
  color: #f7f7f7;
  font-weight: normal;
}

/* line 11, ../scss/modules/_typography.scss */
h1 {
  font-size: 3.75rem;
  line-height: 4.688rem;
}

/* line 16, ../scss/modules/_typography.scss */
h2 {
  font-size: 3.125rem;
  line-height: 4.063rem;
}

/* line 21, ../scss/modules/_typography.scss */
h3 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
}

/* line 27, ../scss/modules/_typography.scss */
h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

/* line 33, ../scss/modules/_typography.scss */
h5 {
  font-size: 18px;
  font-weight: 300;
  color: #f7f7f7;
}

/* line 39, ../scss/modules/_typography.scss */
p {
  font-size: 16px;
}

/* line 43, ../scss/modules/_typography.scss */
strong {
  color: #fa6900;
}

/* Title */
/* line 49, ../scss/modules/_typography.scss */
h2.section-title {
  font-family: Lane, sans-serif;
  letter-spacing: 1px;
  border-bottom: 0px;
}

/* line 55, ../scss/modules/_typography.scss */
h2.section-title:after {
  display: block;
  content: "";
  height: 2px;
  width: 200px;
  background: #fa6900;
  margin: 15px auto;
  position: relative;
}

/* line 65, ../scss/modules/_typography.scss */
.section-description {
  line-height: 28px;
}

/* line 69, ../scss/modules/_typography.scss */
.title-box {
  margin-bottom: 70px;
}

/* line 73, ../scss/modules/_typography.scss */
.em-primary {
  font-weight: bold;
  color: #fa6900;
}

/* Lists */
/* line 80, ../scss/modules/_typography.scss */
.list, .list-feature {
  margin-bottom: 30px;
}

/* line 83, ../scss/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}
/* line 88, ../scss/modules/_typography.scss */
.list-feature .li {
  margin-bottom: 40px;
  line-height: 3.6em;
}
/* line 92, ../scss/modules/_typography.scss */
.list-feature .skills-box {
  margin-bottom: 50px;
}
/* line 94, ../scss/modules/_typography.scss */
.list-feature .skills-box .skills-icon {
  float: left;
  position: relative;
  padding-right: 10px;
}

/* line 103, ../scss/modules/_typography.scss */
.base-color {
  color: #fa6900;
}

/* line 107, ../scss/modules/_typography.scss */
.dark-font-1 {
  color: #272727;
}

/* line 111, ../scss/modules/_typography.scss */
.dark-font-2 {
  color: #313131;
}

/* Buttons */
/* line 4, ../scss/modules/_buttons.scss */
.btn-primary {
  background: #fa6900;
  color: #f7f8fa;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 18px;
  border-radius: 4px;
}

/* line 14, ../scss/modules/_buttons.scss */
.btn-primary:hover {
  background: #1b1b1b;
  border: 2px solid white;
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fa6900;
}

/* line 21, ../scss/modules/_buttons.scss */
#service-buttons a {
  margin-right: 30px;
}

/* Sections*/
/* line 4, ../scss/modules/_sections.scss */
section {
  padding: 80px 0 50px 0;
}

/* line 8, ../scss/modules/_sections.scss */
.section-intro {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 11, ../scss/modules/_sections.scss */
.section-intro .slides-content {
  padding: 0;
  position: relative;
}

/* LAYOUTS - Page layout styles */
/* Navbar */
/* line 4, ../scss/layout/_nav.scss */
.navbar {
  margin-bottom: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 8px 0px;
  -webkit-transition: all 350ms ease-in-out 0s;
  -moz-transition: all 350ms ease-in-out 0s;
  -o-transition: all 350ms ease-in-out 0s;
  -ms-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
}

/* line 11, ../scss/layout/_nav.scss */
.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: medium none;
  top: 0px;
  border-width: 0px 0px 1px;
}

/* line 18, ../scss/layout/_nav.scss */
.navbar-nav > li > a {
  color: #f7f7f7;
  font-size: 16px;
  line-height: 60px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 0 15px;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  -ms-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
}
/* line 28, ../scss/layout/_nav.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a.selected-nav {
  color: #fa6900;
  background-color: transparent;
}

/* line 34, ../scss/layout/_nav.scss */
.scroll-fixed-navbar {
  padding: 0;
}

/* line 38, ../scss/layout/_nav.scss */
.scroll-fixed-navbar.navbar-fixed-top {
  background-color: #101010;
  border-bottom: 1px solid #222;
}

/* Navigation Superslides */
/* line 46, ../scss/layout/_nav.scss */
.slides-navigation a {
  color: #e7e7e7;
  opacity: 0.3;
  list-style: none;
  -webkit-transition: all 200ms ease-in-out 0s;
  -moz-transition: all 200ms ease-in-out 0s;
  -o-transition: all 200ms ease-in-out 0s;
  -ms-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
}
/* line 55, ../scss/layout/_nav.scss */
.slides-navigation a:hover,
.slides-navigation a:focus,
.slides-navigation a:active {
  opacity: 0.9;
  list-style: none;
  text-decoration: none;
  color: #fa6900;
}
/* line 62, ../scss/layout/_nav.scss */
.slides-navigation a.next {
  margin-right: 20px;
}
/* line 66, ../scss/layout/_nav.scss */
.slides-navigation a.prev {
  margin-left: 20px;
}

/* line 72, ../scss/layout/_nav.scss */
.slides-pagination a {
  width: 30px !important;
  height: 10px !important;
  background-color: #c8c8c8;
  color: #fa6900 !important;
  opacity: 0.3;
  display: inline-block !important;
  vertical-align: middle;
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
  font-size: 30px;
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  -ms-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}
/* line 87, ../scss/layout/_nav.scss */
.slides-pagination a:hover {
  opacity: 0.5;
  background: #fa6900 !important;
}
/* line 92, ../scss/layout/_nav.scss */
.slides-pagination a.current {
  opacity: 1;
  background: #fa6900 !important;
}

/* ======================================= */
/* ========== FULLSCREEN IMAGE =========== */
/* ======================================= */
/* line 28, ../scss/main.scss */
.slides-container {
  display: block;
  position: relative;
}

/* line 33, ../scss/main.scss */
.slides-caption {
  margin: auto;
  padding-top: 20%;
  position: relative;
}
/* line 37, ../scss/main.scss */
.slides-caption h1 {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  margin-bottom: 30px;
}
/* line 41, ../scss/main.scss */
.slides-caption h5 {
  padding-top: 20px;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 45, ../scss/main.scss */
.slides-caption .btn {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  margin-top: 30px;
  z-index: 100;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  border: 0px;
}

/* Overlay image */
/* line 57, ../scss/main.scss */
.img-overlay-slider:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ======================================= */
/* =============== FEATURES ============== */
/* ======================================= */
/* line 70, ../scss/main.scss */
#features-1 {
  background: #232323;
  color: #c8c8c8;
}
/* line 72, ../scss/main.scss */
#features-1 .features-left {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 80px;
}
/* line 76, ../scss/main.scss */
#features-1 .features-left .feature-box {
  margin-bottom: 40px;
}
/* line 80, ../scss/main.scss */
#features-1 .phone-img {
  width: 100%;
  display: block;
  left: 0;
}
/* line 85, ../scss/main.scss */
#features-1 .features-right {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 80px;
}
/* line 89, ../scss/main.scss */
#features-1 .features-right .feature-box {
  margin-bottom: 40px;
}

/* line 95, ../scss/main.scss */
h2.section-title {
  opacity: 0;
}

/* line 100, ../scss/main.scss */
#features-2 {
  background: #161616;
  color: #c8c8c8;
}
/* line 102, ../scss/main.scss */
#features-2 .feature-box {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 106, ../scss/main.scss */
#features-2 .feature-icon {
  float: left;
  padding-top: 10px;
}
/* line 110, ../scss/main.scss */
#features-2 .feature-details {
  overflow: hidden;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
}

/* ======================================= */
/* ================= ABOUT =============== */
/* ======================================= */
/* line 121, ../scss/main.scss */
#about-1 {
  background: #232323;
  color: #c8c8c8;
}

/* line 125, ../scss/main.scss */
.tab-content > .active {
  display: block;
  background-color: #191919;
  padding: 30px 20px 40px 20px;
  border-radius: 0px 0px 4px 4px;
  text-align: left;
}

/* line 133, ../scss/main.scss */
.nav-tabs {
  border-bottom: 1px solid #fa6900;
}

/* line 137, ../scss/main.scss */
.nav-tabs > li > a {
  text-decoration: none;
  background-color: #202020;
  border-color: none;
  color: #fa6900;
}

/* line 145, ../scss/main.scss */
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  text-decoration: none;
  background-color: #1b1b1b;
  border-color: none;
  color: #fa6900;
}

/* line 152, ../scss/main.scss */
.nav-tabs > li > a {
  border: 0px solid transparent;
}

/* line 158, ../scss/main.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #191919;
  color: #fa6900;
  border-color: transparent;
}

/* line 164, ../scss/main.scss */
#about-2 {
  background: #161616;
  color: #c8c8c8;
}

/* line 169, ../scss/main.scss */
.panel-default {
  border: 0px solid transparent;
}

/* line 174, ../scss/main.scss */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ff740f;
}

/* line 179, ../scss/main.scss */
.panel-collapse {
  background-color: #111111;
  text-align: left;
  padding: 0 10px 10px 20px;
}

/* line 186, ../scss/main.scss */
.panel-default > .panel-heading {
  color: #fa6900;
  background-color: #0c0c0c;
  border-color: none;
  text-align: left;
  padding-left: 20px;
}
/* line 192, ../scss/main.scss */
.panel-default > .panel-heading:hover, .panel-default > .panel-heading:focus {
  background-color: #191919;
}

/* line 202, ../scss/main.scss */
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
  text-decoration: none;
}

/* line 207, ../scss/main.scss */
.img-about {
  max-width: 700px;
}

/* ======================================= */
/* ============= STATISTICS ============== */
/* ======================================= */
/* line 214, ../scss/main.scss */
#statistic {
  background-color: #fa6900;
  padding: 50px 0 50px 0;
}
/* line 217, ../scss/main.scss */
#statistic .statistic-block {
  text-align: center;
}
/* line 219, ../scss/main.scss */
#statistic .statistic-block .statistic-number {
  font-size: 70px;
  line-height: 70px;
  font-weight: 500;
  color: #f7f7f7;
  margin-bottom: 10px;
}
/* line 226, ../scss/main.scss */
#statistic .statistic-block .statistic-text {
  font-size: 18px;
  color: #f7f7f7;
  text-transform: uppercase;
}

/* ======================================= */
/* ================= TEAM ================ */
/* ======================================= */
/* line 237, ../scss/main.scss */
#team {
  background: #232323;
  color: #c8c8c8;
}
/* line 240, ../scss/main.scss */
#team .team-meta h5 {
  margin: 30px 0 20px 0;
}
/* line 243, ../scss/main.scss */
#team .team-meta h6 {
  text-transform: uppercase;
  color: #fa6900;
}
/* line 247, ../scss/main.scss */
#team .team-meta .team-social-icon {
  display: inline-block;
  margin: auto;
}
/* line 250, ../scss/main.scss */
#team .team-meta .team-social-icon a {
  width: 30px;
  height: 30px;
  color: #f7f7f7 !important;
  text-align: center;
  text-decoration: none;
  margin: 0px 3px 5px;
  clear: both;
}
/* line 259, ../scss/main.scss */
#team .team-meta .team-social-icon .icon-twitter:hover {
  color: #4099FF !important;
}
/* line 262, ../scss/main.scss */
#team .team-meta .team-social-icon .icon-facebook:hover {
  color: #3b5998 !important;
}
/* line 265, ../scss/main.scss */
#team .team-meta .team-social-icon .icon-google-plus:hover {
  color: #dd4b39 !important;
}
/* line 268, ../scss/main.scss */
#team .team-meta .team-social-icon .icon-pinterest:hover {
  color: #C92228 !important;
}

/* line 275, ../scss/main.scss */
#team-2 {
  background: #232323;
  color: #c8c8c8;
}
/* line 277, ../scss/main.scss */
#team-2 .team-2-img {
  max-width: 700px;
}
/* line 281, ../scss/main.scss */
#team-2 .team-2-content h3 {
  text-align: left;
}
/* line 284, ../scss/main.scss */
#team-2 .team-2-content p {
  padding: 10px 0px 10px 00px;
  text-align: justify;
}
/* line 288, ../scss/main.scss */
#team-2 .team-2-content .team-2-buttons {
  text-align: left;
}
/* line 290, ../scss/main.scss */
#team-2 .team-2-content .team-2-buttons a {
  margin-right: 10px;
  border: 0px;
}

/* Responsive */
@media screen and (max-width: 767px) {
  /* line 300, ../scss/main.scss */
  h1 {
    font-size: 40px;
  }

  /* line 304, ../scss/main.scss */
  .navbar-toggle span.icon-bar {
    background-color: #fff;
  }

  /* line 308, ../scss/main.scss */
  .navbar-collapse {
    background-color: #101010;
    float: left !important;
    width: 100%;
    z-index: 400;
  }
}
