/*
    Lighto Bootstrap Sass Theme
    Author: Slari Studio
    Version: 0.0.1
*/
/* BASE - Base styles, variables, mixins, etc */

@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_normalize.scss';
@import 'base/_base.scss';
/* MODULES - Individual site components */

@import 'modules/_typography.scss';
@import 'modules/_blocks.scss';
@import 'modules/_buttons.scss';
@import 'modules/_sections.scss';
@import 'modules/_components.scss';
/* LAYOUTS - Page layout styles */

@import 'layout/_nav.scss';
@import 'layout/_header.scss';
@import 'layout/_footer.scss';
/* ======================================= */
/* ========== FULLSCREEN IMAGE =========== */
/* ======================================= */

.slides-container {
    display: block;
    position: relative;
}

.slides-caption {
    margin: auto;
    padding-top: 20%;
    position: relative;
    h1 {
        @include add-animation-delay(1s);
        margin-bottom: 30px;
    }
    h5 {
        padding-top: 20px;
        @include add-animation-delay(2s);
    }
    .btn {
        position: absolute;
        left: 50%;
        margin-left: -90px;
        margin-top: 30px;
        z-index: 100;
        @include add-animation-delay(1.5s);
        border: 0px;
    }
}
/* Overlay image */

.img-overlay-slider:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* ======================================= */
/* =============== FEATURES ============== */
/* ======================================= */

#features-1 {
    @include add-background($dark-1);
    .features-left {
        text-align: right;
        margin-top: 30px;
        margin-bottom: 80px;
        .feature-box {
            margin-bottom: 40px;
        }
    }
    .phone-img {
        width: 100%;
        display: block;
        left: 0;
    }
    .features-right {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 80px;
        .feature-box {
            margin-bottom: 40px;
        }
    }
}

h2.section-title {
    opacity: 0;
}


#features-2 {
    @include add-background($dark-2);
    .feature-box {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .feature-icon {
        float: left;
        padding-top: 10px;
    }
    .feature-details {
        overflow: hidden;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 40px;
    }
}
/* ======================================= */
/* ================= ABOUT =============== */
/* ======================================= */

#about-1 {
    @include add-background($dark-1);
}

.tab-content > .active {
    display: block;
    background-color: darken($dark-1, 4%);
    padding: 30px 20px 40px 20px;
    border-radius: 0px 0px 4px 4px;
    text-align: left;
}

.nav-tabs {
    border-bottom: 1px solid $base-font-color;
}

.nav-tabs > li > a {
    text-decoration: none;
    background-color: darken($dark-1, 1%);
    border-color: none;
    color: $base-font-color;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    text-decoration: none;
    background-color: darken($dark-1, 3%);
    border-color: none;
    color: $base-font-color;
}

.nav-tabs > li > a {
    border: 0px solid transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: darken($dark-1, 4%);
    color: $base-font-color;
    border-color: transparent;
}

#about-2 {
    @include add-background($dark-2);
}

// All Panel Border
.panel-default {
    border: 0px solid transparent;
}

// Panel Border when Active
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: lighten($base-font-color, 4%);
}

// BG Panel Content
.panel-collapse {
    background-color: darken($dark-2, 2%);
    text-align: left;
    padding: 0 10px 10px 20px;
}

// Panel Heading
.panel-default > .panel-heading {
    color: $base-font-color;
    background-color: darken($dark-2, 4%);
    border-color: none;
    text-align: left;
    padding-left: 20px;
    &:hover, &:focus {
        background-color: lighten($dark-2, 1%);
    }
}

// Panel Title
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
    text-decoration: none;
}

.img-about {
    max-width: 700px;
}
/* ======================================= */
/* ============= STATISTICS ============== */
/* ======================================= */

#statistic {
    background-color: $base-font-color;
    padding: 50px 0 50px 0;
    .statistic-block {
        text-align: center;
        .statistic-number {
            font-size: 70px;
            line-height: 70px;
            font-weight: 500;
            color: $font-color-light-1;
            margin-bottom: 10px;
        }
        .statistic-text {
            font-size: 18px;
            color: $font-color-light-1;
            text-transform: uppercase;
        }
    }
}
/* ======================================= */
/* ================= TEAM ================ */
/* ======================================= */

#team {
    @include add-background ($dark-1);
    .team-meta {
        h5 {
            margin: 30px 0 20px 0;
        }
        h6 {
            text-transform: uppercase;
            color: $base-font-color;
        }
        .team-social-icon {
            display: inline-block;
            margin: auto;
            a {
                width: 30px;
                height: 30px;
                color: $font-color-light-1 !important;
                text-align: center;
                text-decoration: none;
                margin: 0px 3px 5px;
                clear: both;
            }
            .icon-twitter:hover {
                color: #4099FF !important;
            }
            .icon-facebook:hover {
                color: #3b5998 !important;
            }
            .icon-google-plus:hover {
                color: #dd4b39 !important;
            }
            .icon-pinterest:hover {
                color: #C92228 !important;
            }
        }
    }
}

#team-2 {
    @include add-background ($dark-1);
    .team-2-img {
        max-width: 700px;
    }
    .team-2-content {
        h3 {
            text-align: left;
        }
        p {
            padding: 10px 0px 10px 00px;
            text-align: justify;
        }
        .team-2-buttons {
            text-align: left;
            a {
                margin-right: 10px;
                border: 0px;
            }
        }
    }
}
/* Responsive */

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
    .navbar-toggle {
        span.icon-bar {
            background-color: #fff;
        }
    }
    .navbar-collapse {
        background-color: #101010;
        float: left !important;
        width: 100%;
        z-index: 400;
    }
}