
/* Navbar */

.navbar {
    margin-bottom: 0px;
    @include border-radius(0px);
    padding: 8px 0px;
    @include add-transition (350ms, 0s);
}

.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: medium none;
    top: 0px;
    border-width: 0px 0px 1px;
}

.navbar-nav > li > a {
    color: $font-color-light-1;
    font-size: 16px;
    line-height: 60px;
    font-weight: 500;
	text-transform: uppercase;
	display: block;
	padding: 0 15px;
    @include add-transition (100ms, 0s);
    &:hover,
    &.selected-nav {
        color: $base-font-color;
        background-color: transparent;
    }
}

.scroll-fixed-navbar {
	padding: 0;
}

.scroll-fixed-navbar.navbar-fixed-top { 
	background-color: #101010;
	border-bottom: 1px solid #222;
}

/* Navigation Superslides */

.slides-navigation {
    a { 
        color: #e7e7e7;
        opacity: 0.3;
        list-style: none;
        @include add-transition (200ms, 0s);
    }
    
    a:hover,
    a:focus,
    a:active {
        opacity: 0.9;
        list-style: none;
        text-decoration: none;
        color: $base-font-color;
    }
    
    a.next {
        margin-right: 20px;
    }
    
    a.prev {
        margin-left: 20px;
    }
}

.slides-pagination {
    a {
        width: 30px !important;
        height: 10px !important;
        background-color: $font-color-light-2;
        color: $base-font-color !important;
        opacity: 0.3;
        display: inline-block !important;
        vertical-align: middle;
        margin: 2px;
        overflow: hidden;
        text-indent: -100%;
        font-size: 30px;
        @include add-transition (400ms, 0s);
    }
    
    a:hover {
        opacity: 0.5;
        background: $base-font-color !important;    
    }
    
    a.current {
        opacity: 1;
        background: $base-font-color !important;
    }
}