

html {
    font-size: 100%;
}

body {
    font-weight: 300;
    color: $font-color-dark-2;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.7em;
}

a {
    color: $base-font-color;
    @include add-transition (250ms, 0s);
}

i {
    @include add-transition (250ms, 0s);
}

ul, li {
    list-style: none;
}
