
/* Mixins*/

@mixin border-radius($radius) {    
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin add-animation-delay($delay) {
    -moz-animation-delay: $delay;
    -webkit-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin add-border($size, $color, $position){
	@if $position == 'all'{
		border:$size solid $color;
	} @else if $position == 'top'{
		border-top:$size solid $color;
	} @else if $position == 'bottom'{
		border-bottom:$size solid $color;
	} @else if $position == 'right'{
		border-right:$size solid $color;
	} @else if $position == 'left'{
		border-left:$size solid $color;
	} @else if $position == 'top-bottom'{
		border-top:$size solid $color;
		border-bottom:$size solid $color;
	} @else if $position == 'right-left'{
		border-left:$size solid $color;
		border-right:$size solid $color;
	}
}

@mixin add-background($color) {
    background: $color;
    @if $color == $dark-1 {
        color: $font-color-light-2;
    } @else if $color == $dark-2 {
        color: $font-color-light-2;
    } @else if $color == $light-1 {
		color: $font-color-dark-1;
    } @else if $color == $light-2 {
		color: $font-color-dark-2;
    }
}

@mixin add-transition($duration,$delay){
    -webkit-transition: all $duration ease-in-out $delay;
	-moz-transition: all $duration ease-in-out $delay;
	-o-transition: all $duration ease-in-out $delay;
	-ms-transition: all $duration ease-in-out $delay;
	transition: all $duration ease-in-out $delay;
}

// media queries

@mixin add-media-queries ($canvas) {
  @if $canvas == SM {
   @media only screen and (min-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (min-width: $MD) { @content; } 
  }
  @else if $canvas == LG {
   @media only screen and (min-width: $LG) { @content; } 
  }
}