/* Normalize */

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 0 !important;
}

.no-pad-top {
    padding-top: 0;
}

.extra-pad {
    padding-top: 40px;
    padding-bottom: 40px;
}
