/* Font Colors */

$base-font-size: 16px;
$base-font-family: Roboto, sans-serif;
$base-font-color: #fa6900;
$title-font-family: Lane,sans-serif;

/* Colors */

$dark-1: #232323;
$dark-2: #161616;
$light-1: #f7f7f7;
$light-2: #f7f8fA;

$font-color-light-1: #f7f7f7;
$font-color-light-2: #C8C8C8;
$font-color-dark-1: #272727;
$font-color-dark-2: #313131;
    
    
/* Slides Area */

$showcase-height: 607px;
$showcase-image: '../img/showcase.jpg';

// breakpoints
   
$SM: 320px;   
$MD: 768px;     
$LG: 1170px;     
