
/* Buttons */

.btn-primary {
    @include add-background($base-font-color);
    color: $light-2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 9px 18px;
    border-radius: 4px;
}

.btn-primary:hover {
    background: darken($dark-1, 3%);
    @include add-border (2px, #ffffff, all);
    @include add-transition (250ms, 0s);
    color: $base-font-color;
}

#service-buttons a{
    margin-right: 30px;
}