
/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    color: $font-color-light-1;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
    color: $font-color-light-1;
}

p {
    font-size: 16px;
}

strong {
    color: $base-font-color;
}

/* Title */

h2.section-title {
    font-family: $title-font-family;
    letter-spacing: 1px;
    border-bottom: 0px;
}

h2.section-title:after {
    display: block;
    content: "";
    height: 2px;
    width: 200px;
    background: $base-font-color;
    margin: 15px auto;
    position: relative;
}

.section-description {
    line-height: 28px;
}

.title-box{
    margin-bottom: 70px;
}

.em-primary {
    font-weight: bold;
    color: $base-font-color;
}

/* Lists */

.list {
    margin-bottom: 30px;
}
.list-feature {
    @extend .list;
    margin: 0;
    padding: 0;
    width: 80%;
    .li {
        margin-bottom: 40px;
        line-height: 3.6em;
    }
    .skills-box {
        margin-bottom: 50px;
        .skills-icon {
            float: left;
            position: relative;
            padding-right: 10px;
        }
    }   
    
}

.base-color {
    color: $base-font-color;
}

.dark-font-1 {
    color: $font-color-dark-1;
}

.dark-font-2 {
    color: $font-color-dark-2;
}